<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head th:replace="~{/fragments/head :: head}">

<body>
    <!-- Navigation Section Start -->
    <header th:replace="~{/fragments/header :: header}">

    </header>
    <!-- Navigation Section End -->

    <!-- Login Section Start -->
    <section class="login">
        <div class="container">
            <h1>Page Is Not Found</h1>
            <h1>ERROR 404</h1>

        </div>
    </section>
    <!-- Login Section End -->

    <!-- Footer Section Start -->
    <footer th:replace="~{/fragments/footer :: footer}"></footer>

    <!-- Footer Section End -->

    <!-- Copyright Section start -->
    <section class="copyright">
        <div class="container text-center">
            <p>All rights reserved. Design By <a href="#">Code Arcade</a></p>
        </div>
        <a id="back-to-top" class="btn-primary">
            <i class="fa fa-angle-double-up"></i>
        </a>
    </section>
    <!-- Copyright Section End -->

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <!-- Jquery UI -->
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <!-- Custom JS -->
    <script src="js/custom.js"></script>
</body>
</html>